
.error-box {
  // text-align: center;
  // height: 100%;
  position: fixed;
  //background: url(../../../images/background/error-bg.jpg) no-repeat center center #fff;
  width: 100%;

  .error-body {
    padding-top: 5%;
  }

  .error-title {
    font-size: 150px;
    font-weight: 900;
    text-shadow: 4px 4px 0 #fff, 6px 6px 0;
    line-height: 10px;
  }
}