<mat-card>
    <mat-card-title>
        Novo Aluno
    </mat-card-title>
    
    <form>

        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="aluno.nome" name="name">  
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Idade" [(ngModel)]="aluno.idade" name="price">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Turma" [(ngModel)]="aluno.turma" name="class">
        </mat-form-field>

    </form>
    <button mat-raised-button (click)="createAluno()" color="primary">
        <i class="material-icons">
            person_add 
        </i>
        Adicionar
    </button>
    
    <button mat-raised-button (click)="cancel()">
        <i class="material-icons">
            arrow_back 
        </i>
        Cancelar
    </button>
</mat-card>

