<mat-card>
    <mat-card-title>
        Alterar aluno
    </mat-card-title>
    
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="aluno.nome" name="name">  
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Idade" [(ngModel)]="aluno.idade" name="age">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Turma" [(ngModel)]="aluno.turma" name="class">
        </mat-form-field>


        <!-- Exibe os horários das aulas -->
        <table mat-table [dataSource]="aulas">
            <!-- Dia Column -->
            <ng-container matColumnDef="dia">
              <th mat-header-cell *matHeaderCellDef>Dia</th>
              <td mat-cell *matCellDef="let row">{{row.dia}}</td>
            </ng-container>
        
            <!-- Horário Column -->
            <ng-container matColumnDef="horario">
              <th mat-header-cell *matHeaderCellDef>Horário</th>
              <td mat-cell *matCellDef="let row">{{row.horario}}</td>
            </ng-container>
        
            <!-- Action Column -->
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef>Ações</th>
              <td mat-cell *matCellDef="let aluno">
                <a routerLink="/alunos/horario/update" class="edit">
                  <i class="material-icons">
                    edit
                  </i>
                </a>
                <a routerLink="/alunos/horario/delete" class="delete">
                  <i class="material-icons">
                    delete
                  </i>
                </a>
              </td>
            </ng-container>
      
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </form>

    <button mat-raised-button (click)="updateProduct()" color="primary">
        <i class="material-icons">
            check 
        </i>
        Salvar
    </button>
    
    <button mat-raised-button (click)="cancel()">
        <i class="material-icons">
            arrow_back 
        </i>
        Cancelar
    </button>
</mat-card>

