<div class="container">
  <form>
    <h4>Faça seu login para continuar...</h4>
    
    <div class="form-field-group">
      <i class="material-icons">
        email 
      </i>
      <mat-form-field>
        <input matInput placeholder="E-mail" [(ngModel)]="objLogin.email" name="email">  
      </mat-form-field>
    </div>
      
    <div class="form-field-group">
      <i class="material-icons">
        lock 
      </i>
      <mat-form-field>
        
        <input matInput placeholder="Senha" type="password" [(ngModel)]="objLogin.senha" name="senha">  
      </mat-form-field>
    </div>
    
    <button mat-raised-button (click)="login()" color="primary">
      <i class="material-icons">
        login 
      </i>
      Login
    </button>
  </form>
</div>