<!-- <ng-container></ng-container> -->
<!-- <ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="dateOfBirth">Date of birth</label>
        <div class="input-group">
          <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template> -->



<div *ngIf="contentView == 1" class="view">
  <!-- ADICIONAR REGISTRO -->
  <button mat-raised-button (click)="openCreate()" color="primary">
    <i class="material-icons">
        person_add 
    </i>
    Adicionar aluno
  </button>

  <!-- FILTROS -->
  <form>
    <mat-form-field>
      <input matInput placeholder="Nome" [(ngModel)]="objFormFilter.nome" name="name">  
    </mat-form-field>

    <div class="form-buttons">
      <button mat-raised-button class="filter-button" (click)="filtrarAlunos()" color="primary">
        <i class="material-icons">
          search 
        </i>
        Filtrar
      </button>

      <button mat-raised-button class="clear-button" (click)="limparFiltros()" color="primary">
        <i class="material-icons">
          delete 
        </i>
        Limpar Filtros
      </button>
    </div>

  </form>

  <!-- REGISTROS -->
  <div class="mat-elevation-z4">
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let row">{{row.id}}</td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
        <td mat-cell *matCellDef="let row">{{row.nome}}</td>
      </ng-container>
  
      <!-- Turma Column -->
      <ng-container matColumnDef="turma">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Turma</th>
        <td mat-cell *matCellDef="let row">{{row.turma}}</td>
      </ng-container>
  
      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let aluno">
          <a (click)="openAulas(aluno)" class="view">
            <i class="material-icons">
              menu_book
            </i>
          </a>
          <a (click)="openUpdate(aluno)" class="edit">
            <i class="material-icons">
              edit
            </i>
          </a>
          <a (click)="openDelete(aluno)" class="delete">
            <i class="material-icons">
              delete
            </i>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <!-- Fazer paginação da tabela -->
  </div>
</div>

<div *ngIf="contentView == 2" class="create">
  <mat-card>
    <mat-card-title>
        Novo Aluno
    </mat-card-title>
    
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="objFormRegister.controls['nome'].value" name="name">  
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Turma" [(ngModel)]="objFormRegister.controls['turma'].value" name="class">
        </mat-form-field>
        
        <div >
          <button mat-raised-button (click)="addFormAula()" color="primary" class="addFormAula">
            <i class="material-icons">
              add 
            </i>
            Adicionar aula
          </button>
        </div>

        <div class="aulas-form">
          <h3>Aulas</h3>
          <div  *ngFor="let control of objFormAulas.controls; let i=index">
            <mat-form-field>
              <mat-label>Dia da aula</mat-label>
              <mat-select [(ngModel)]="control.value['dia']" name="dia"> 
                <mat-option *ngFor="let item of comboboxServices.diasDaSemana" [value]="item.text">
                  {{item.text}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <input 
                matInput 
                [(ngModel)]="control.value['horarioInicio']" 
                [ngxTimepicker]="toggleTimepicker1" 
                [disableClick]="true" 
                readonly 
                placeholder="Início aula"
                [ngModelOptions]="{standalone: true}"
              >
              <ngx-material-timepicker-toggle [for]="toggleTimepicker1"></ngx-material-timepicker-toggle>
              <ngx-material-timepicker #toggleTimepicker1></ngx-material-timepicker>
            </mat-form-field>

            <mat-form-field>
              <input 
                matInput 
                [(ngModel)]="control.value['horarioFim']" 
                [ngxTimepicker]="toggleTimepicker2" 
                [disableClick]="true" 
                readonly 
                placeholder="Término aula"
                [ngModelOptions]="{standalone: true}"
              >
              <ngx-material-timepicker-toggle [for]="toggleTimepicker2"></ngx-material-timepicker-toggle>
              <ngx-material-timepicker #toggleTimepicker2></ngx-material-timepicker>
            </mat-form-field>

            <button mat-raised-button (click)="removeFormAula(i)" color="warn" class="removeFormAula">
              <i class="material-icons">
                delete 
              </i>
              Remover aula
            </button>
          </div>
      </div>

    </form>
    <button mat-raised-button (click)="saveCreate()" color="primary">
        <i class="material-icons">
            person_add 
        </i>
        Adicionar
    </button>
    
    <button mat-raised-button (click)="goHome()">
        <i class="material-icons">
            arrow_back 
        </i>
        Cancelar
    </button>
  </mat-card>
</div>

<div *ngIf="contentView == 3" class="update">
  <mat-card>
    <mat-card-title>
        Alterar aluno
    </mat-card-title>
    
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="alunoUpdate.nome" name="name">  
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Idade" [(ngModel)]="alunoUpdate.idade" name="age">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Turma" [(ngModel)]="alunoUpdate.turma" name="class">
        </mat-form-field>


        <!-- Exibe os horários das aulas -->
        <!-- <table mat-table [dataSource]="aulas">
            <ng-container matColumnDef="dia">
              <th mat-header-cell *matHeaderCellDef>Dia</th>
              <td mat-cell *matCellDef="let row">{{row.dia}}</td>
            </ng-container>
        

            <ng-container matColumnDef="horario">
              <th mat-header-cell *matHeaderCellDef>Horário</th>
              <td mat-cell *matCellDef="let row">{{row.horario}}</td>
            </ng-container>
        

            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef>Ações</th>
              <td mat-cell *matCellDef="let aluno">
                <a routerLink="/alunos/horario/update" class="edit">
                  <i class="material-icons">
                    edit
                  </i>
                </a>
                <a routerLink="/alunos/horario/delete" class="delete">
                  <i class="material-icons">
                    delete
                  </i>
                </a>
              </td>
            </ng-container>
      
            <tr mat-header-row *matHeaderRowDef="displayedColumnsUpdate"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsUpdate;"></tr>
        </table> 
        -->
    </form>

    <button mat-raised-button (click)="saveUpdate()" color="primary">
        <i class="material-icons">
            check 
        </i>
        Salvar
    </button>
    
    <button mat-raised-button (click)="goHome()">
        <i class="material-icons">
            arrow_back 
        </i>
        Cancelar
    </button>
  </mat-card>
</div>


<div *ngIf="contentView == 4" class="delete">
  <mat-card>
    <mat-card-title>
        Deseja realmente excluir esse aluno?
    </mat-card-title>
    
    <form>

        <mat-form-field>
            <input matInput placeholder="Nome" [value]="alunoDelete.nome" name="name" disabled>  
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Idade" [value]="alunoDelete.idade" name="price" disabled>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Turma" [value]="alunoDelete.turma" name="class" disabled>
        </mat-form-field>

        <!-- Exibe os horários das aulas -->
        <!-- <table mat-table [dataSource]="aulas" disabled>

            <ng-container matColumnDef="dia" >
              <th mat-header-cell *matHeaderCellDef>Dia</th>
              <td mat-cell *matCellDef="let row">{{row.dia}}</td>
            </ng-container>
        
            <ng-container matColumnDef="horario">
              <th mat-header-cell *matHeaderCellDef>Horário</th>
              <td mat-cell *matCellDef="let row">{{row.horario}}</td>
            </ng-container>
      
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table> -->

    </form>
    <button mat-raised-button (click)="saveDelete(alunoDelete.id)" color="warn">
        <i class="material-icons">
            delete 
        </i>
        Excluir
    </button>
    
    <button mat-raised-button (click)="goHome()">
        <i class="material-icons">
            arrow_back 
        </i>
        Cancelar
    </button>
  </mat-card>
</div>

<div *ngIf="contentView == 5" class="aulas"> 
    <h3>Aulas - {{alunoView.nome}}</h3>

    <table mat-table [dataSource]="alunoView.aulas" matSort class="mat-elevation-z4">
      <ng-container matColumnDef="dia">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Dia</th>
        <td mat-cell *matCellDef="let row">{{row.dia}}</td>
      </ng-container>
  
      <ng-container matColumnDef="horario">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Horário</th>
        <td mat-cell *matCellDef="let row">{{row.horario}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsAulas"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsAulas;"></tr>
    </table>

    <button mat-raised-button (click)="goHome()">
      <i class="material-icons">
          arrow_back 
      </i>
      Cancelar
    </button>
</div>