div.view {
    position: relative;
}

div.view .form-buttons {
    position: absolute;
    right: 0;
    top: 0;

    display: flex;
}

div.view .form-buttons button {
    margin-left: 1rem;
}

div.view form mat-form-field {
    margin-right: 2rem;
}

div.view table {
    width: 100%;
    margin-top: 2rem;
}

div.view i {
    margin-right: 10px;
}

div.view a.view > i {
    color: #193574;
    cursor: pointer;
}

div.view a.edit > i {
    color: #d9c626;
    cursor: pointer;
}

div.view a.delete > i{
    color: #db3c51;
    cursor: pointer;
}

div.view button {
    margin: 20px 0px;
}

div.create form {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

div.create button {
    margin-right: 10px;
    margin-top: 20px;
}

div.create ngx-material-timepicker-toggle {
    position: absolute;
    right: 0;
    top: -5px
}

div.create .aulas-form mat-form-field {
    margin-right: 1rem;
}

div.create .addFormAula {
    position: absolute;
    right: 0;
}

div.update form {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

div.update button {
    margin-right: 10px;
    margin-top: 20px;
}

div.delete form {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

div.delete button {
    margin-right: 10px;
    margin-top: 20px;
}

div.aulas table {
    width: 100%;
    margin-top: 2rem;
}

div.aulas h3 {
    text-align: center;
    margin: 1rem 0;
}

div.aulas button {
    margin-top: 2rem;
}